@use '../abstracts/index';

.form {
	&__field {
		margin-bottom: 12px;

		&-error {
			display: none;
			color: red;

			&.show {
				display: block;
			}
		}
	}

	&__input {
		display: block;
		width: 100%;
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__textarea {
		height: 100px;
	}

	&__submit {
		width: 100%;
	}
}
