// APP COLORS

$DEFAULT_WHITE: #ffffff;
$DARK: #000000;
$GRAY_DARK: #787878;
$PURPLE: #5e47d2;
$PURPLE_SECOND: #7929e8;

// CARD COLORS

$CARD_TITLE: #818283;
$CARD_DESC: #9f9eab;

// INPUT COLORS

$INPUT_BORDER: #c2c2c2;
